
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>AngularJS Service Chooser</title>

        <!-- Google web fonts -->
        <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel='stylesheet' />

        <!-- The main CSS file -->
        <link href="css/style.css" rel="stylesheet" />

        <!--[if lt IE 9]>
        <script src="dist/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>

        <form id="main" ng-app ng-controller="myservices">
            <h1>My Services</h1>

            <ul id="services">
                <!-- The services will be inserted here -->
                <li ng-repeat="service in services">
                    <label>
                        <input type="checkbox" ng-model="service.selected" value="1" name="{{service.title}}" />
                        {{service.title}}<span>${{service.price}}</span>
                    </label>
                </li>
            </ul>

            <p id="total">Total: <span>${{total()}}</span></p>

            <input type="submit" id="order" value="Order" />
        </form>

        <!-- A single AngularJS include -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.5/angular.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>